<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>AngularJS表达式</title>
	<script src="http://apps.bdimg.com/libs/angular.js/1.2.16/angular.min.js"></script>
	<script src="app.js"></script>
	<h2>Angular APP</h2>
	<body>
		<div ng-app="" ng-controller="studentController">
			<p>
			<input type="checkbox" ng-model="disableclick">Disable Button
			<button ng-disabled="disableclick">点击我</button>
			</p>
			<br>
			<p>
			<input type="checkbox" ng-model="showbtn">显示按钮
			<button ng-show="showbtn">Click Me!</button>
			</p>
			<br>
			<p>
			<input type="checkbox" ng-model="hidebtn">隐藏按钮
			<button ng-hide="hidebtn">Click Me Too!</button>
			</p>
			<br>
			<p>Total Click {{totalClick}}</p>
			<button ng-click="totalClick = totalClick + 1">点击我</button>
		</div>	
	</body>
</html>